body {
  font-family: Roboto, Sans-Serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.opening-page {
	margin-top: 80px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 30px;
}

.opening-page h1 {
	color: #0d2872;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.opening-page img {
	width: 25%;
}

.result-page {
	width: 80%;
	border-radius: 10px;
	background-color: #efefef;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#map {
	margin-top: 20px;
	margin-bottom: 40px;
	height: 400px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#pac-input {
	width: 40%;
	height: 35px;
	font-size: 15px;
	text-align: center;
}

.js-search-result {
	margin-top: 20px;
	text-align: center;
	color: #0d2872;
}